<div class="col-12 d-flex justify-content-center p-3">
  <div class="col-xs-12 col-sm-8 col-md-10 col-lg-10 p-3 bg-white form-container">
    <form class="row d-flex justify-content-center" [formGroup]="form">
      <div class="col-sm-4 pb-4 position-relative">
        <label for="primarySkill" class="form-label">Primary Skill</label>
        <select
          class="form-control"
          id="primarySkill"
          formControlName="primarySkill"
          (change)="onPrimarySkillChange($event)"
        >
          <option value="">Select a skill</option>
          <option *ngFor="let skill of skills" [value]="skill">{{ skill }}</option>
        </select>
        <div
          *ngIf="form.get('primarySkill')?.invalid && form.get('primarySkill')?.touched"
          class="text-danger position-absolute bottom-0"
        >
          Primary skill is required.
        </div>
      </div>
      <div class="col-sm-4 pb-4 position-relative">
        <label for="skills" class="form-label">Skills</label>
        <div *ngFor="let skill of skills" class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="{{ skill }}"
            [value]="skill"
            [disabled]="form.get('primarySkill')?.value === skill"
          />
          <label class="form-check-label" for="{{ skill }}">
            {{ skill }}
          </label>
        </div>
      </div>
    </form>
  </div>
</div>